.footer_container {
  color: red;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  padding-top: 20px;
  font-family: 'Fruktur';
  width: 100%;
  height: 20%;
  background: linear-gradient(#2b2b2b, #434343);
  background-image: linear-gradient(to right top, #27e137, #00c59e, #00a0f6, #0071ff, #0e0ece);
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.7);
  border-bottom: 1px solid rgb(230, 0, 0);
  border-top: 1px solid rgb(230, 0, 0);
}

.footer-element p {
  color: red;
  cursor: pointer;
  font-size: 12px;
  margin: 3px 0px 0px 16px;
  padding: 0px;
}

.footer-element p:hover {
  color: rgb(180, 31, 81);
}

.footer-element-label {
  color: white;
  padding-left: 4px;
  border-left: 12px ridge rgb(0, 255, 51);
  border-right: 12px ridge rgb(255, 217, 0);
  padding-right: 10px;
  border-bottom: 1px dashed rgb(202, 33, 90);
  font-weight: 700;
  font-size: 12px;
  text-transform: uppercase;
}
