.pokemoncard_container {
  height: 400px;
  width: 200px;
  display: flex;
   flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  margin: 10px;
}

.pokemoncard_container > img {
  height: 150px;
  width: 150px;
  border-radius: 10px;
}

/* .card-group {
  border: 1px solid black;
  border-radius: 25px;
  margin-bottom: 10px;
} */

.card {
  text-align: center;
  height: 400px;
  width: 220px;
  border: 1px solid blue;
}

.color-body {
  background: orange;
}

.footer-card {
  background-color: red !important;
}
